.profil-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 20px;
}

.profil-header img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 30px;
  font-weight: bold;
}

nav {
  font-size: 16px;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding-bottom: 5px;
}

li a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none ;
}

a:hover {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
