@import url(general-style.css);
@import url(header-style.css);

/* Mobile */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
} 

.subtitle {
  color : rgba(255, 255, 255, 0.6);
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 30px ;
}

.title {
  color: #ffffff;
  font-size: 40px;
  margin: 10px 30px
}

.description {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.3;
  margin:10px;
}

.skills {
  color: #ffffff;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  gap: 10px;
}

/* Tablette */

@media (min-width:769px) and (max-width:1024px) {
  .title {
    font-size: 50px;
    margin: 20px;
  }

  .subtitle {
    margin:40px
  }

  .description {
    margin: 30px;
  }

  .skills {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin: 30px;
  }
}


/* Desktop */

@media (min-width: 1025px) {
  .title {
    font-size: 60px;
  }

    .subtitle {
    margin:50px
  }

  .description {
    margin: 50px;
  }

  .skills {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin: 50px;
  }
}
