@import url(general-style.css);
@import url(header-style.css);

/* Mobile */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.project-title {
  text-align: center;
  font-size: 40px;
  color: #ffffff;
  margin: 30px;
}

.cards-project {
  background-color: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  margin: 20px;
  width: 80%;
  max-width: 400px;
}

.images {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}


.logo {
  height: 150px;
  max-height: 80%;
  padding-bottom: 5px;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project {
  font-size: 26px;
  font-weight: bold;
  color: #ffffff;
  padding: 10px;
}

p {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.5;
  text-align: center;
  padding: 20px;
}

.button {
  display: flex;
  align-self: center;
  justify-content: center;
  gap: 20px;
  padding-bottom: 20px;
}

button {
  background-color: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  padding: 10px;
}

button a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

a:hover {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* Tablette */

@media (min-width: 769px) and (max-width: 1024px) {
  .project-title {
  font-size: 50px;
}
}

/* Desktop */

@media (min-width : 1025px) {
  main {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 40px;
  }

  .project-title {
    width: 100%;
    margin: 0 auto;
    font-size: 60px;
  }

  .cards-project {
    width: 30%;
    margin: 0 auto;
    max-width: none;
  }
}

